.container {
    display: flex;
    width: 25vw;
    margin: 0 auto;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    z-index: 10;
}

.maincontainer {
background-color: #ffffff;
border-bottom: 1px solid rgb(161, 161, 161);
} 