.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
    height: 150px;
    width: 300px;
    padding: 15px;
    display: flex;
    position: relative;
    border-radius: 10px;
    min-width: 160px;
    color: white;
    font-size: 14px;
    animation: rollout 1.4s;
  }

  .textfield {
    margin: 0;
    width : 140px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .imgdiv {
    width: 40px;
    height: 40px;
  }

  .logodiv {
    position: absolute;
    right: 20px;
    top: 20px;

  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 0px 0px 0 rgba(79, 229, 255, 0.9);
    transform: scale(1.05);
    z-index: 10;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 15px;
    display: inline-block;
  align-self: flex-end;
  }

  .nomargin {
    margin: 0;
  }


  @keyframes rollout {
    0% { transform: translateY(-100px);
      opacity: 0%; }
    100% { transform: none;
      ;
      opacity: 100%; }
  }
  